<li>
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center">
      <p><%= link_to question.option_one, questions_path, id: "option_one", class: "btn btn-success", remote: true %></p>
      <p>Votes: <span id="option_one_votes"><%= question.option_one_votes %></span></p>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
      <strong>
      <p>OR</p>
      <p><%= link_to 'Edit', edit_question_path(question) %> |
         <%= link_to 'Delete', question_path(question),
         :data => {:confirm => "Are you sure?",
                   :method  => "delete"} %> </p>
      </strong>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 text-center">
      <p><%= link_to question.option_two, question_path(question), id: "option_two", class: "btn btn-success", remote: true %></p>
      <p>Votes: <span id="option_two_votes"><%= question.option_two_votes %></span></p>
    </div>
  </div>
</li>
